extends layout

block content
  .container
    each card in cards
      .card(style='background-color: card.backgroundColor')
        .card-row.header
          p.name=card.pokemonName
          p.healthpoints=card.healthpoints
          img.type(src=card.pokemonType)
        img.pokemon-img(src=card.pokemonImage)
        .card-row.move-row.first
          -for(let i = 0; i<card.firstTypeAmount; i++)
            img.type(src=card.firstMoveImage)

          p.move-name=card.firstMoveName
          p.damage=card.firstMoveDamage
        .card-row.move-row.second
          -for(let i = 0; i<card.secondTypeAmount; i++)
            img.type(src=card.secondMoveImage)

          p.move-name=card.secondMoveName
          p.damage=card.secondMoveDamage
        .card-row.description-row
          p weakness
          p resistance
          p retreat cost
        .card-row.description-type-row
          .weakness.type-row
            img.type(src=card.weaknessTypeImage)
          .resistance.type-row
            img.type(src=card.resistanceTypeImage)
          .retreat-cost.type-row
            -for(let i = 0; i<card.retreatCostAmount; i++)
              img.type(src=card.retreatCostImage)